@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-blue: #54b7de;
  --blue: #00008b;
  --dark-blue: #131e39;
  --light-green: #5fb793;
  --green: #22835d;
  --white: #ffffff;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--light-blue);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--light-blue) url("images/swing.jpg") no-repeat center/cover;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
  margin: 0.3em auto;
}

button {
  padding: 0.8em 1.3em;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  background: var(--blue);
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--light-green);
  border: 4px solid var(--green);
  color: var(--green);
  font-weight: 700;
  padding: 0.65em 1.15em;
}

.quote {
  color: var(--white);
  background: var(--dark-blue);
  padding: 1.25em;
  width: 100%;
  opacity: 0;
  position: absolute;
  bottom: 7%;
}

.content {
  font-size: 1rem;
  margin-bottom: 0.75em;
}

.author {
  text-align: right;
  font-size: 0.75rem;
}

@media (min-width: 800px) {
  .container {
    background-size: auto 100%;
  }
  .title {
    margin: 0.2em auto;
  }
  .quote {
    padding: 1.5em;
    width: 95%;
    bottom: 7%;
  }
  .content {
    font-size: 1.25rem;
  }
  .author {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 2.2rem;
    margin-bottom: 0.15em;
  }
  button {
    font-size: 1.1rem;
  }
  .quote {
    padding: 1.5em;
    width: 63.25%;
  }
  .content {
    font-size: 1.25rem;
  }
  .author {
    font-size: 1rem;
  }
}

@media (min-width: 1440px) {
  .quote {
    width: 52.6%;
  }
}

@media (min-width: 1920px) {
  .title {
    margin: 0.75em 0.6em 0.75em 0;
  }
  .quote {
    padding: 1.75em;
    width: 84.7%;
  }
  .content {
    font-size: 1.4rem;
  }
  .author {
    font-size: 1.1rem;
  }
}
